let tahun_lahir = 1990
let tahun_ini = 2024
let umur = tahun_ini - tahun_lahir
<ul>
    <li>Nama lengkap: Aji Kowiyu</li>
    <li>Nama panggilan: Aji/Kowi</li>
    <li>Alamat: Pluit, Jakarta Utara</li>
    <li>Pekerjaan: Senior Programmer @ Agung Podomoro Group</li>
    <li>tanggal lahir: 17 Agustus ${tahun_lahir}</li>
    <li>umur: ${umur} tahun</li>
</ul>
<br>
<a href="/">Balik ke beranda</a>


<!-- <script>
    let tahun_lahir = 1990
    let tahun_ini = 2024
    let umur = tahun_ini - tahun_lahir

    let elementSpan = document.getElementById('tahun_kelahiran')
    elementSpan.innerHTML = tahun_lahir

    let elementUmur = document.getElementById('umurAji')
    elementUmur.innerHTML = umur
</script> -->